
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Dashboard", "Index", "Home", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Products", "Index", "Products", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Customers", "Index", "Customers", new { area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Orders", "Index", "Orders", new { area = "Admin" }, null)</li>
</ul>
